<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Parkerrr - Web Architect, Designer, Buritto Connoisseur. 
  </title>
<!--   <script src="//use.typekit.net/ufy4cdy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script> -->
  <link rel="stylesheet" href="/css/style.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="//use.typekit.net/ufy4cdy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <header class="home">

    <header>
    <h1><a href="#about" title="Parkerrr">{{ site.title }}</a></h1>
      <p> Web Architect, Designer, Buritto Connoisseur </p>
    </header>

    <nav role="navigation">
    <a href="{{ twitter_profile }}">Twitter</a>
    <a href="{{ github_profile }}">Github</a>
    <a href="{{ dribbble_profile }}">Dribbble</a>
       <!-- some social profile links -->
    </nav>
    </header>

    {{ content }}

<script src="/js/readingTime.min.js"></script>
</body>
</html>